/**Colores de la pagina
#808080 #86c9f282 #9FC8E2 #000000 #0e7333 #ffeeee #ffffff #0f0c9b #25d366 #999999 #205070 #00d9ff #2eb735 #0ca014 #037488 #3498db #000000cc #078e07 #3e66899a #2980b9
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    top: 0;
    font-size: 14px;
    background-color: #86c9f282;
    min-height: 100vh;
}

.cabecera {
    background-color: #9FC8E2;
    color: #000000;
    font-size: 30px;
    font-weight: 800;
    text-align: center;
    font-family: 'Mate SC', serif;
    border-radius: 2%;
    box-shadow: 2px 3px 2px #808080;
}

/*Estilos para el menu*/
.header {
    background-color: #0e7333;
    position: sticky;
    width: 100%;
    top: 0;
    left: 0;
    box-shadow: 2px 2px 2px 2px #808080;
    z-index: 2;
    border-radius: 2%;
}

.header .container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    z-index: 100;
}

.header .logo {
    color: #ffeeee;
    text-align: center;
    padding: 0.5%;
    flex-grow: 1;
}

.logo img {
    width: 200px;
    margin: 0 auto;
    image-rendering: auto;
}

.header .menu {
    text-align: center;
    padding: 0.8%;
    flex-grow: 8;
    border: none;
    border-radius: 10%;
}

.item>li {
    display: inline-block;
    margin: 40px;
    list-style: none;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
}

.item>li a {
    color: #ffffff;
    text-decoration: none;
}

.item>li :hover {
    color: #0f0c9b;
    font-size: 20px;
}

/*Estilos whatsapp*/
.flotante {
    position: fixed;
    width: 60px;
    height: 60px;
    top: 50%;
    transform: translateY(600%);
    right: 12px;
    background-color: #25d366;
    color: #ffffff;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 2px 2px 3px #999999;
    z-index: 100;
}

.my-float {
    margin-top: 16px;
}

/*Estilo seccion inicio*/
.parrafo_inicio {
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-weight: 600;
    background-color: #205070;
}

/*Transicion de imagenes*/
.slider {
    width: 100%;
    height: 70vh;
    overflow: hidden;
    float: left;
}

.slider ul {
    display: flex;
    animation: cambio 20s infinite alternate linear;
    width: 500%;
    overflow: hidden;
}

.slider li {
    width: 100%;
    list-style: none;
}

.slider img {
    width: 100%;
    height: 50%;
    image-rendering: auto;
}

/*keyframes de la transiciones de las imagenes*/
@keyframes cambio {
    0% {
        margin-left: 0;
    }

    20% {
        margin-left: 0;
    }

    25% {
        margin-left: -100%;
    }

    45% {
        margin-left: -100%;
    }

    50% {
        margin-left: -200%;
    }

    70% {
        margin-left: -200%;
    }

    75% {
        margin-left: -300%;
    }

    100% {
        margin-left: -300%;
    }
}

/*Estilos seccion quienes somos*/
.seccion_quienes_somos {
    min-height: 70vh;
}

.imagen_quienes_somos {
    display: flex;
    margin-left: 10px;
    border: 2px solid #ffffff;
    border-radius: 80px;
    margin-top: 1%;
    image-rendering: auto;
    width: 55%;
}

.vision {
    text-align: center;
    color: #000000;
    font-weight: 400;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    padding-left: 60%;
}

.titulo_vision,
.titulo_mision {
    padding: 1%;
    width: 50%;
    margin-left: 26%;
    border-bottom: 2px solid #000000;
    font-size: 22px;
}

.parrafo_mision,
.parrafo_vision {
    padding: 3%;
    width: 100%;
    background-image: linear-gradient(to right, #00d9ff, #2eb735);
    border-radius: 3%;
}

.parrafo_mision:hover,
.parrafo_vision:hover {
    transition: all 0.5s ease;
    background-image: linear-gradient(to right, #0ca014, #00d9ff);
    font-size: 18px;

}

.mision {
    text-align: center;
    color: #000000;
    font-weight: 400;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    padding-left: 60%;
    margin-top: -30%;
}

/*Estilos seccion servicios*/
.main_servicios {
    min-height: 100vh;
    width: 100%;
}

.titulo_servicios {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 50px;
    border-radius: 5%;

}

.contenedor_paisajismo,
.contenedor_carpinteria_metalica,
.contenedor_mobiliario_paisajistico {
    text-align: center;
    background-image: linear-gradient(to right, #0ca014, #037488);
    border-radius: 1%;
}

.titulo_paisajismo,
.titulo_carpinteria_metalica,
.titulo_mobiliario_paisajistico {
    font-family: 'Poppins', sans-serif;
    font-size: 35px;
    border-bottom: 2px solid #000000;
    padding: 1%;
    width: 50%;
    margin-left: 26%;
}

.contenedor_paisajismo,
.contenedor_carpinteria_metalica,
.contenedor_mobiliario_paisajistico p {
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}

.paisajismo,
.carpinteria_meta,
.mobiliario_paisajistico {
    display: flex;
    justify-content: space-between;
}

.servicio img {
    width: 95%;
    height: auto;
    display: block;
    image-rendering: auto;
}


.muros_verdes_servicios img {
    width: 70%;
    height: auto;
    display: block;
    image-rendering: auto;
    margin-left: 30px;
    border-radius: 5%;
}

.riego_servicios img {
    width: 70%;
    height: auto;
    display: block;
    image-rendering: auto;
    border-radius: 5%;
}

.servicio_micro_aspersion img {
    width: 55%;
    height: auto;
    display: block;
    image-rendering: auto;
    margin-left: -30px;
    border-radius: 5%;
}

.servicio_mantenimiento img {
    width: 200px;
    height: 260px;
    display: block;
    image-rendering: auto;
    margin-left: -200px;
    border-radius: 5%;
}

/*Estilos segunda seccion de imagenes*/
.servicio_esculturas img {
    width: 300px;
    height: 380px;
    display: block;
    image-rendering: auto;
    margin-left: 30px;
    border-radius: 5%;
}

.servicio_pergolas img {
    width: 300px;
    height: 380px;
    display: block;
    image-rendering: auto;
    border-radius: 5%;
}

.servicio_materas img {
    width: 380px;
    height: 370px;
    display: block;
    image-rendering: auto;
    border-radius: 5%;
}

.servicio_jardin_vertical img {
    width: 260px;
    height: 370px;
    display: block;
    image-rendering: auto;
    border-radius: 5%;
}

/*Estilos tercer seccion de servicios*/
.servicio_bancas img {
    width: 530px;
    height: 350px;
    display: block;
    image-rendering: auto;
    margin-left: 30px;
    border-radius: 5%;
}

.servicio_muebles img {
    width: 330px;
    height: 350px;
    display: block;
    image-rendering: auto;
    margin-right: 20px;
    border-radius: 5%;
}

.servicio_espejos_agua img {
    width: 310px;
    height: 350px;
    display: block;
    image-rendering: auto;
    margin-right: 30px;
    border-radius: 5%;
}

/*Estilos para texto de imagenes*/
.muros_texto_servicios {
    width: 100%;
    margin-left: -60px;

}

.riego_texto_servicios {
    width: 100%;
    margin-left: -65px;
}

.aspersion_texto_servicios {
    width: 100%;
    margin-left: -160px;
}

.mantenimiento_texto_servicios {
    width: 100%;
    margin-left: -190px;
}


/*Estilos para seccion proyectos*/
.main_proyectos {
    min-height: 100vh;
    width: 100%;
}

.titulo_proyectos {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    font-size: 45px;
    padding: -1%;
    width: 50%;
    margin-left: 26%;
    border-bottom: 2px solid #000000;
}

.titulo_proyectos_comeciales,
.titulo_proyectos_institucionales_colegios,
.titulo_proyectos_empresariales,
.titulo_proyectos_residenciales {
    text-align: left;
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
}

.proyectos_residenciales {
    display: flex;
}

.proyectos_residenciales img {
    width: 300px;
    height: 300px;
    display: block;
    image-rendering: auto;
    margin-right: 20px;
    margin-left: 20px;
    border-radius: 5%;
}

.proyectos_residenciales img:hover {
    transition: all 0.5s ease-out;
    box-shadow: 5px 6px 7px #0e7333;
}

.proyectos_comerciales {
    display: flex;
}

.proyectos_comerciales img {
    width: 300px;
    height: 300px;
    display: block;
    image-rendering: auto;
    margin-right: 20px;
    margin-left: 20px;
    border-radius: 5%;
}

.proyectos_comerciales img:hover {
    transition: all 0.5s ease-out;
    box-shadow: 5px 6px 7px #0e7333;
}

.proyectos_institucionales {
    display: flex;
}

.proyectos_institucionales img {
    width: 300px;
    height: 300px;
    display: block;
    image-rendering: auto;
    margin-right: 20px;
    margin-left: 20px;
    border-radius: 5%;
}

.proyectos_institucionales img:hover {
    transition: all 0.5s ease-out;
    box-shadow: 5px 6px 7px #0e7333;
}

.proyectos_empresariales {
    display: flex;
}

.proyectos_empresariales img {
    width: 300px;
    height: 300px;
    display: block;
    image-rendering: auto;
    margin-right: 20px;
    margin-left: 20px;
    border-radius: 5%;
}

.proyectos_empresariales img:hover {
    transition: all 0.5s ease-out;
    box-shadow: 5px 6px 7px #0e7333;
}

/*Estilos seccion talento humano*/
.main_talento_humano {
    min-height: 140vh;
    width: 100%;
}

.personal_tecnico img,
.personal_diseño img {
    display: flex;
    justify-content: space-between;
    display: block;
    width: 25%;
    height: 600px;
    border-radius: 5%;
    margin-left: 50px;
    margin-top: 50px;
    image-rendering: auto;
}

.personal_diseño img {
    width: 500px;
    height: 450px;
    display: block;
    border-radius: 5%;
    margin-top: 15%;
    margin-left: 1200px;
    image-rendering: auto;
}

.personal_tecnico img:hover {
    transition: all 0.5s ease-out;
    box-shadow: 5px 5px 7px #0e7333;
}

.personal_diseño img:hover {
    transition: all 0.5s ease-out;
    box-shadow: 5px 5px 7px #0e7333;
}

/*Estilos texto talento humano*/
.personal_tecnico_texto {
    display: flex;
    justify-content: center;
    margin-top: -300px;
    margin-left: 490px;
    font-size: 50px;
    font-weight: 400;
    font-family: 'Martian Mono', monospace;
}

.personal_diseño_texto {
    display: flex;
    justify-content: center;
    margin-top: -300px;
    margin-right: 660px;
    font-size: 50px;
    font-weight: 400;
    font-family: 'Martian Mono', monospace;
}

/*Estilos seccion formulario*/
.main_form {
    background-image: url(../img/muro_verde_formulario.png);
    background-size: cover;
    height: 50vw;
    min-height: 100vh;
    opacity: 85%;

}

.form_contacto {
    color: #3498db;
    margin-bottom: 20px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-size: 50px;
}

/* Estilos para los campos de entrada */
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="proyecto"],
.content_form {
    width: 40%;
    height: auto;
    display: inline-block;
    padding: 20px 5px;
    margin-left: 33%;
    color: #ffffff;
    text-shadow: 2px 3px 4px #000000cc;
    font-weight: bold;
    filter: saturate(300%);
}

.content_form label {
    font-size: 30px;
}

.content_form * {
    width: 85%;
    display: inline-block;
    margin: 1% 0;
    font-size: 20px;
    text-align: center;
}

.content_form>input {
    text-align: left;
    padding: 7px;
    outline: none;
    margin-left: 23%;
    color: #000000;
    text-shadow: none;
}

.texto_proyecto {
    outline: none;
    color: #000000;
    font-weight: bold;
}

#proyecto {
    overflow: scroll;
}

.content_form>label {
    padding: 10px 2px;
    border: none;
    border-bottom: 3px solid #3498db;
}

/* Estilos para el botón de envío */
.BotonEnviar[type="submit"] {
    background-color: #3498db;
    color: #ffffff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button_send {
    background-color: #078e07;
    font-size: 22px;
}

.button_send:hover {
    background-color: #00d9ff;
    cursor: pointer;
    font-size: 24px;
}

.BotonEnviar[type="submit"]:hover {
    background-color: #2980b9;
    transition: all 0.5s ease-out;
}


/* Estilo para el logo de la empresa */
.pielogo {
    padding: 20px;
    margin-left: auto;
    text-align: right;
    float: right;
    image-rendering: pixelated;
}

.pielogo .l_empresa {
    margin-top: -10%;
    image-rendering: auto;
    width: 60%;
    height: 150px;
}

/* Estilo general para el footer */
footer {
    overflow: hidden;
    width: 100%;
    height: 350px;
    background-color: #3e66899a;
    padding: 20px;
    text-align: right;
    margin-top: 1%;
}

/* Estilo para los íconos sociales */
.social-icons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    margin-right: 0 auto;
}

.social-icons {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    margin: 0 auto;
    padding-left: 30%;
}

.social-icons img {
    width: 38px;
    height: auto;
    image-rendering: auto;
}

/* Estilo para el mapa */
.mapa {
    width: 27%;
    height: 30vh;
    position: absolute;
    left: 36%;
    overflow: hidden;
}

/* Estilo para el certificado */
.decreto {
    width: 18.6%;
    height: auto;
    padding: 20px;
    text-align: left;
    position: absolute;
    left: 0;
    margin-top: -1%;
    image-rendering: auto;
}

.copi {
    text-align: right;
    font-family: 'Poppins', sans-serif;
}

@media (min-width: 768px) and (max-width: 1024px) {
    .cabecera {
        font-size: 18px;
        font-weight: 400;
    }

    .parrafo_inicio {
        font-size: 18px;
        font-weight: 400;
    }

    .logo img {
        width: 100px;
    }

    .item>li {
        margin: 14px;
        font-size: 10px;
    }

    .item>li :hover {
        font-size: 15px;
    }

    /*Estilos whatsapp*/
    .flotante {
        transform: translateY(700%);
    }

    .slider {
        width: 100%;
        height: 57vh;
    }

    .slider img {
        width: 120%;
        height: 85%;
    }

    /* Estilo para los íconos sociales */
    .social-icons {
        padding-left: 45%;
    }

    .social-icons img {
        width: 38px;
        height: auto;
        image-rendering: auto;
    }

    /* Estilo para el mapa */
    .mapa {
        margin-top: 30px;
        width: 30%;
        height: 22vh;
        left: 34%;
    }

    /* Estilo para el logo de la empresa */
    .pielogo .l_empresa {
        width: 50%;
        height: 135px;
    }

    /* Estilo para el certificado */
    .decreto {
        width: 40%;
        height: 30vh;
        left: -5.2%;
    }

    .copi {
        text-align: right;
        font-family: 'Poppins', sans-serif;
    }

    /*Estilos seccion quienes somos*/
    .seccion_quienes_somos {
        min-height: 50vh;
    }

    .imagen_quienes_somos {
        display: flex;
        margin-left: 1px;
        margin-top: 40px;
        width: 48%;
        height: 40vh;
    }

    .vision {
        font-size: 12px;
    }

    .titulo_vision,
    .titulo_mision {
        padding-top: 10%;
        margin-left: 5%;
        font-size: 18px;
    }

    .parrafo_mision,
    .parrafo_vision {
        margin-top: -5%;
        font-size: 12px;
        margin-left: -18%;
    }

    .parrafo_mision:hover,
    .parrafo_vision:hover {
        font-size: 13px;
    }

    .mision {
        font-size: 12px;
        font-family: 'Poppins', sans-serif;
        padding-left: 60%;
        margin-top: -58%;
    }

    /*Estilos seccion servicios*/
    .contenedor_paisajismo,
    .contenedor_carpinteria_metalica,
    .contenedor_mobiliario_paisajistico p {
        font-size: 14px;
        font-weight: 200;
    }

    .muros_verdes_servicios img {
        margin-left: 12px;
    }

    .riego_servicios img {
        margin-left: -40px;
    }

    .servicio_micro_aspersion img {
        margin-left: -80px;
    }

    .servicio_mantenimiento img {
        width: 160px;
        height: 120px;
        margin-left: -190px;
    }

    /*Estilos para textos de imagenes*/
    .muros_texto_servicios {
        width: 100%;
        margin-left: -50px;
    }

    .riego_texto_servicios {
        width: 100%;
        margin-left: -65px;
    }

    .aspersion_texto_servicios {
        width: 80%;
        margin-left: -108px;
    }

    .mantenimiento_texto_servicios {
        width: 100%;
        margin-left: -160px;
    }

    .esculturas_texto {
        width: 100%;
        margin-left: -20px
    }

    .pergolas_texto {
        width: 100%;
        margin-left: -30px;
    }

    .jardines_verticales_texto {
        width: 100%;
        margin-left: -10px;
    }

    /*Estilos segunda seccion de imagenes*/
    .servicio_esculturas img {
        width: 180px;
        height: 190px;
        margin-left: 8px;
    }

    .servicio_pergolas img {
        width: 160px;
        height: 180px;
        margin-left: -50px;
    }

    .servicio_materas img {
        width: 155px;
        height: 180px;
    }

    .servicio_jardin_vertical img {
        width: 165px;
        height: 190px;
        margin-left: 20px;
    }

    /*Estilos tercer seccion de servicios*/
    .servicio_bancas img {
        width: 220px;
        height: 130px;
        margin-left: 10px;
    }

    .servicio_muebles img {
        width: 220px;
        height: 130px;
        margin-left: 10px;
    }

    .servicio_espejos_agua img {
        width: 220px;
        height: 130px;
    }

    /*Estilos para seccion proyectos*/
    .proyectos_residenciales,
    .proyectos_comerciales,
    .proyectos_institucionales,
    .proyectos_empresariales {
        display: flex;
    }

    .proyectos_residenciales img,
    .proyectos_comerciales img,
    .proyectos_institucionales img,
    .proyectos_empresariales img {
        width: 115px;
        height: 115px;
    }

    .proyectos_residenciales img:hover,
    .proyectos_comerciales img:hover,
    .proyectos_institucionales img:hover,
    .proyectos_empresariales img:hover {
        transition: all 0.5s ease-out;
        box-shadow: 2px 3px 4px #0e7333;
    }

    /*Estilos seccion talento humano*/
    .main_talento_humano {
        min-height: 102vh;
    }

    .personal_tecnico img,
    .personal_diseño img {
        width: 40%;
        margin-left: 25px;
        margin-top: 50px;
    }

    .personal_diseño img {
        width: 400px;
        height: 400px;
        margin-top: 250px;
        margin-left: 350px;
    }

    /*Estilos texto talento humano*/
    .personal_tecnico_texto {
        margin-left: 440px;
        font-size: 40px;
        margin-top: -55%;
    }

    .personal_diseño_texto {
        margin-right: 440px;
        font-size: 40px;
    }

    /*Cuadrar formulario responsivo*/
    .main_form {
        background-size: cover;
        height: 50vw;
        min-height: 80vh;
    }

    /* Estilos para los campos de entrada */
    .content_form {
        width: 50%;
        padding: 20px 5px;
        margin-left: 27%;
    }

    .content_form>input {
        margin-left: 13%;
        padding: 15px;
        width: 60%;
    }

    .texto_proyecto {
        font-weight: normal;
    }
}